<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="<%= assetPath('/css/user_sign_up.css') %>"> <!-- Link to your CSS file -->
</head>
<body>
    <div class="signup-page">
        <div class="signup-container">
            <h1>Sign Up</h1>
            <form class="signup-form" action="/message/user/create" method="POST">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="form-group">
                    <label for="confirm_password">Confirm Password:</label>
                    <input type="password" id="confirm_password" name="confirm_password" required>
                </div>
                <button class="signup-submit" type="submit">Sign Up</button>
            </form>

            <p class="signup-google-link">
                <a href="/message/user/auth/google">Google Sign-in / Sign-up</a>
            </p>
        </div>
    </div>
</body>
</html>
