<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css">
    <title><%= title%></title>
</head>
<body>
    <h1>
        profile page
    </h1>
    <p>Name: <%= profile_user.username %></p>
    <p>Email: <%= profile_user.email %></p>
    
</body>
</html>